In [15]:
import pandas as pd
import ast
import pdb

In [16]:
df1 = pd.read_csv('source1.csv')
df2 = pd.read_csv('source2.csv')

## How many campaigns spent on more than 4 days?
#### Answer: 3289

In [17]:
spent_rows = df2[df2['spend'] != 0]

In [18]:
campaigns_by_id = list(spent_rows.groupby('campaign_id').apply(lambda x: x['date'].unique()))

In [19]:
five_plus_day_campaigns = list(filter(lambda x: len(x) > 4, campaigns_by_id))

In [20]:
len(five_plus_day_campaigns)

3289

## Which sources reported more "junk" than "noise"?
### Answer: ['C', 'J', 'H']

In [21]:
def parse_source(row):
    global sources
    actions = ast.literal_eval(row['actions'])
    for actn in actions:
        current = actn["action"]
        if current in ('junk', 'noise'):
            for key in actn.keys():
                if not key == 'action':
                    if not key in sources:
                        sources[key] = {'junk': 0, 'noise': 0}
                    sources[key][current] += int(actn[key])

In [22]:
sources = {}
df2.apply(parse_source, axis=1)

0         None
1         None
2         None
3         None
4         None
5         None
6         None
7         None
8         None
9         None
10        None
11        None
12        None
13        None
14        None
15        None
16        None
17        None
18        None
19        None
20        None
21        None
22        None
23        None
24        None
25        None
26        None
27        None
28        None
29        None
          ...
251131    None
251132    None
251133    None
251134    None
251135    None
251136    None
251137    None
251138    None
251139    None
251140    None
251141    None
251142    None
251143    None
251144    None
251145    None
251146    None
251147    None
251148    None
251149    None
251150    None
251151    None
251152    None
251153    None
251154    None
251155    None
251156    None
251157    None
251158    None
251159    None
251160    None
Length: 251161, dtype: object

In [23]:
sources

{'F': {'junk': 1223926, 'noise': 1233915},
 'G': {'junk': 1230358, 'noise': 1244322},
 'E': {'junk': 1236050, 'noise': 1244240},
 'C': {'junk': 1243788, 'noise': 1231769},
 'J': {'junk': 1246437, 'noise': 1222855},
 'A': {'junk': 1229656, 'noise': 1237764},
 'D': {'junk': 1226024, 'noise': 1240969},
 'H': {'junk': 1258292, 'noise': 1237056},
 'B': {'junk': 1228686, 'noise': 1248677},
 'K': {'junk': 1224957, 'noise': 1227276}}

In [24]:
sources_w_more_noise = []

for s in sources.keys():
    if sources[s]['junk'] > sources[s]['noise']:
        sources_w_more_noise += [s]

In [25]:
sources_w_more_noise

['C', 'J', 'H']

## How many source B conversions were there for campaigns targeting NY
### Answer: 110775

In [26]:
ny_campaigns = list(df1.loc[df1['audience'].str.contains('NY')]['campaign_id'])

In [27]:
source_b_ny_count = 0
for campaign in ny_campaigns:
    current = df2.loc[df2['campaign_id'] == campaign]
    for row in current['actions']:
        row = ast.literal_eval(row)
        for item in row:
            if 'B' in item:
                source_b_ny_count += item['B']

In [28]:
source_b_ny_count

110775

## What was the total cost per view for all ads of type video, truncated to two decimals?
### Answer: $10.12

In [29]:
video_ads = spent_rows.loc[spent_rows['ad_type'] == 'video']

In [30]:
video_total_views = 0

In [31]:
video_ads.head(10)

,ad_id,ad_type,campaign_id,date,spend,actions
1,461b37a2-a3a4-4a22-b4b9-a79df7257379,video,375138e8-6e89-483f-a607-f62340c5c49d,2018-01-02,946,"[{""B"": 79, ""action"": ""clicks""}, {""H"": 3, ""acti..."
9,203ec8f7-1bcf-4fe1-9288-14a7fd524ce4,video,375138e8-6e89-483f-a607-f62340c5c49d,2018-01-02,255,"[{""E"": 64, ""action"": ""clicks""}, {""J"": 80, ""act..."
11,e0cbee1f-c25a-4422-beba-d01579b1f3e7,video,53c1c769-6793-4ccf-9eb4-d28cf71b4949,2018-01-02,603,"[{""H"": 91, ""action"": ""conversions""}]"
17,089036aa-1a50-4788-acf2-716eb3321b8f,video,53c1c769-6793-4ccf-9eb4-d28cf71b4949,2018-01-02,534,"[{""J"": 32, ""action"": ""views""}]"
21,f3a246a6-f560-4a1c-8589-62d48ec59693,video,53c1c769-6793-4ccf-9eb4-d28cf71b4949,2018-01-02,438,"[{""F"": 30, ""action"": ""noise""}]"
25,bd15d442-0a70-46d2-b79b-1af47fb4e8fe,video,53c1c769-6793-4ccf-9eb4-d28cf71b4949,2018-01-02,385,"[{""J"": 43, ""action"": ""conversions""}]"
27,1a398d7c-ee0e-4b4c-ab2f-95f632262bd8,video,dac1c482-32f8-4829-b6c3-dca20aeb347c,2018-01-02,344,"[{""J"": 77, ""action"": ""junk""}, {""K"": 31, ""actio..."
28,1a398d7c-ee0e-4b4c-ab2f-95f632262bd8,video,dac1c482-32f8-4829-b6c3-dca20aeb347c,2018-01-03,649,"[{""A"": 28, ""action"": ""junk""}, {""A"": 78, ""actio..."
29,1a398d7c-ee0e-4b4c-ab2f-95f632262bd8,video,dac1c482-32f8-4829-b6c3-dca20aeb347c,2018-01-04,835,"[{""D"": 7, ""action"": ""views""}, {""H"": 42, ""actio..."
30,1a398d7c-ee0e-4b4c-ab2f-95f632262bd8,video,dac1c482-32f8-4829-b6c3-dca20aeb347c,2018-01-05,680,"[{""F"": 54, ""action"": ""conversions""}, {""H"": 66,..."

In [32]:
def get_views(row):
    global video_total_views
    def helper(r):
        total = 0
        r = ast.literal_eval(r)
        for actn in r:
            if actn["action"] == 'views':
                for key in actn.keys():
                    if key != 'action':
                        total += actn[key]
        return total
    video_total_views += helper(row['actions'])

In [33]:
video_total_cost = video_ads['spend'].sum(axis=0)

In [34]:
video_total_cost

45500054

In [35]:
video_ads.apply(get_views, axis=1)

1         None
9         None
11        None
17        None
21        None
25        None
27        None
28        None
29        None
30        None
32        None
33        None
34        None
35        None
62        None
63        None
64        None
65        None
67        None
68        None
69        None
70        None
72        None
78        None
87        None
88        None
89        None
90        None
92        None
94        None
          ...
251087    None
251088    None
251090    None
251091    None
251092    None
251093    None
251095    None
251096    None
251097    None
251108    None
251109    None
251110    None
251111    None
251113    None
251114    None
251115    None
251144    None
251145    None
251146    None
251147    None
251149    None
251150    None
251151    None
251153    None
251154    None
251155    None
251156    None
251158    None
251159    None
251160    None
Length: 90949, dtype: object

In [36]:
video_total_views

4494747

In [37]:
cost_per_view = video_total_cost / video_total_views

In [38]:
cost_per_view = cost_per_view.round(2)

In [39]:
cost_per_view

10.12

## What combination of state and hair color had the best (lowest) CPM?
### Answer: IL_pink

In [40]:
total_spend_list = []
def sum_spending(row):
    total_spend_list.append(row[1].sum(axis=0)['spend'])

In [41]:
total_impressions_list = []
def sum_impressions(row):
    total_impressions_list.append(row[1].sum(axis=0)['impressions'])

In [42]:
df3 = pd.DataFrame(df1.groupby('audience'))

In [43]:
campaigns_by_spend = pd.DataFrame(spent_rows.groupby('campaign_id'))

In [44]:
campaigns_by_spend.apply(sum_spending, axis=1)

0       None
1       None
2       None
3       None
4       None
5       None
6       None
7       None
8       None
9       None
10      None
11      None
12      None
13      None
14      None
15      None
16      None
17      None
18      None
19      None
20      None
21      None
22      None
23      None
24      None
25      None
26      None
27      None
28      None
29      None
        ...
7442    None
7443    None
7444    None
7445    None
7446    None
7447    None
7448    None
7449    None
7450    None
7451    None
7452    None
7453    None
7454    None
7455    None
7456    None
7457    None
7458    None
7459    None
7460    None
7461    None
7462    None
7463    None
7464    None
7465    None
7466    None
7467    None
7468    None
7469    None
7470    None
7471    None
Length: 7472, dtype: object

In [45]:
campaigns_by_spend['total_spend'] = total_spend_list

In [46]:
campaigns_by_spend.head()

,0,1,total_spend
0,000299d3-976d-4c39-9846-01bbd744c240,ad_id a...,18822
1,0005b8bb-61d3-43ed-924a-54991756ba05,ad_id a...,2687
2,00063a5c-d31a-4f0e-977b-5619cd498ef5,ad_id a...,8055
3,000f4b94-d7b0-43af-ae8a-0d93649b689d,ad_id a...,7633
4,00134b2d-8ae6-4e87-961f-f5323be4c7a7,ad_id a...,9326

In [47]:
int(campaigns_by_spend[campaigns_by_spend[0] == '00134b2d-8ae6-4e87-961f-f5323be4c7a7']['total_spend'])

9326

In [48]:
df3.apply(sum_impressions, axis=1)
df3['total_impressions'] = total_impressions_list

In [49]:
def campaign_sums(campaign_list):
    total = 0
    for c in campaign_list:
        #pdb.set_trace()
        values = campaigns_by_spend[campaigns_by_spend[0] == c]['total_spend'].values
        total += 0 if len(values) == 0 else values[0]
    return total

In [50]:
regions_spends = []
def get_region_sum(row):
    regions_spends.append(campaign_sums(list(row[1]['campaign_id'])))

In [51]:
df3.apply(get_region_sum, axis=1)

0      None
1      None
2      None
3      None
4      None
5      None
6      None
7      None
8      None
9      None
10     None
11     None
12     None
13     None
14     None
15     None
16     None
17     None
18     None
19     None
20     None
21     None
22     None
23     None
24     None
25     None
26     None
27     None
28     None
29     None
       ...
429    None
430    None
431    None
432    None
433    None
434    None
435    None
436    None
437    None
438    None
439    None
440    None
441    None
442    None
443    None
444    None
445    None
446    None
447    None
448    None
449    None
450    None
451    None
452    None
453    None
454    None
455    None
456    None
457    None
458    None
Length: 459, dtype: object

In [52]:
df3['total_spending'] = regions_spends
df3['CPM'] = 0

In [55]:
def set_CPM(row):
    row['CPM'] = (row['total_spending']  / row['total_impressions'])* 1000
    return row

In [56]:
df3 = df3.apply(set_CPM, axis=1)

In [58]:
df3[df3['CPM'] == df3.min(axis=0)['CPM']]

,0,1,total_impressions,total_spending,CPM
131,IL_pink,campaign_id aud...,8129,64499,7934.432279